<% include partials/header %>

    <div class="promo-header " id="heading-banner">

        <div class="my-container container pt25-sm-down">
            <section id ="section1">
            <h1>Boulenn</h1>
            <h2>Boules au crochet</h2>
            <p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p>
            <div class="wrapper">
                <img class="" src="http://cdn3.craftsy.com/blog/wp-content/uploads/2015/09/Crochet-Balls-in-Different-Sizes.jpg"/>
                <div class="description">
                    <p class="description-content">
                        Boulenn 15€
                    </p>
                </div>
            </div>
            <p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p>
            <p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p><p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p>
            </section>
            
            
            <section id ="section1">
            <h1>Skerb Gloan</h1>
            <h2>Echarpe en laine</h2>
            <p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p>
            <div class="wrapper">
                <img class="" src="https://images.unsplash.com/photo-1510597567824-8436873034f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6d8280645ac2ae43ff3503804b445552&auto=format&fit=crop&w=1353&q=80"/>
                <div class="description">
                    <p class="description-content">
                        Skerb Gloan 25€
                    </p>
                </div>
            </div>

            <p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p>
            <p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p><p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p>
            </section>
            
            
            <section id ="section1">
            <h1>Boned</h1>
            <h2>Bonnet chaud en laine</h2>
            <p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p>
            <div class="wrapper">
                <img class="" src="https://images.unsplash.com/photo-1480358074177-c2f76f7e00d3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=18a218a162099b0ae35cef1a049c3f61&auto=format&fit=crop&w=1350&q=80"/>
                <div class="description">
                    <p class="description-content">
                        Boned 20€
                    </p>
                </div>
            </div>

            <p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p>
            <p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p><p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p>
            </section>
            
            
            <section id ="section1">
            <h1>Kelc'h</h1>
            <h2>Bracelet au crochet</h2>
            <p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p>
            <div class="wrapper">
                <img class="" src="https://images.unsplash.com/photo-1512820900002-b67e44b68c2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=02c488cd057d5c88458c5cc80fffc411&auto=format&fit=crop&w=1350&q=80"/>
                <div class="description">
                    <p class="description-content">
                        Kelc'h 10€
                    </p>
                </div>
            </div>

            <p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p>
            <p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p><p>Once we overcame the hurdle of reliably identifying a device and building a system that handled email processing, we finally had all of the ingredients we needed for a simple yet effective experience.</p>
            </section>
                        
            
        </div>
    </div>

<script>
    $('#heading-banner').css('display', 'block');
</script>

<% include partials/footer %>